html { 
  background: url('../images/back1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
/*
body{
	background-image: url('images/back1.jpg');
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: contain;

}*/
.logo
{
  
}